@charset "UTF-8";

@font-face {
  font-family: "Job Clarendon";
  src: url("/font/job-clarendon/job-clarendon-variable.woff2") format("woff2");
  font-style: normal;
  font-weight: 100 900;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/font/jetbrains-nl/JetBrainsMonoNL-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/font/jetbrains-nl/JetBrainsMonoNL-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/font/jetbrains-nl/JetBrainsMonoNL-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Noto Emoji";
  src: url("/font/noto-emoji/NotoEmoji-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-weight: 100 900;
}

:root {
  --font-size: 1.25rem;
  --line-height: 2rem;
  --column-width: 36rem;
  --column-gap: 2rem;

  --board-jitter: 2rem;
  --board-shadow-offset: 2rem;

  --feed-jitter: 2rem;

  /* -- Spring '83 variables  -- */

  --f-job-clarendon: "Job Clarendon";
  --f-jc: var(--f-job-clarendon);

  /* Selected from Riso colors: https://www.stencil.wiki/colors */
  --c-medium-blue: #3255A4;
  --c-cornflower: #62A8E5;
  --c-blue: #0078BF;
  --c-teal: #00838A;
  --c-flat-gold: #BB8B41;
  --c-hunter-green: #407060;
  --c-green: #00A95C;
  --c-red: #FF665E;
  --c-marine-red: #D2515E;
  --c-yellow: #FFE800;
  --c-fluorescent-pink: #FF48B0;
  --c-fluorescent-orange: #FF7477;
  --c-light-gray: #88898A;
  --c-midnight: #435060;
  --c-indigo: #484D7A;
  --c-brown: #925F52;
  --c-paper-dingy: #DDDDDD;
  --c-paper-bright: #EEEEEE;
  --c-black: #222222;

  /* -- end of Spring '83 variables -- */
}

::selection {
  background-color: var(--c-fluorescent-orange);
}

::-moz-selection {
  background-color: var(--c-fluorescent-orange);
}

*, *::before, *::after {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

* {
  margin: 0;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

html {
  position: relative;
  font-size: 11px; /* base REM */
  min-height: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;

  /* the expressive power of UNaliased text... */
  -webkit-font-smoothing: antialiased;
   -moz-font-smoothing: antialiased;
        font-smoothing: antialiased;

  background: none;
  background-color: transparent;
}

body {
  position: relative;
  font-family: "JetBrains Mono", "Noto Emoji";
  font-size: 1.25rem;
  line-height: 2rem;
  background-color: var(--c-paper-dingy);
  min-height: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

textarea {
   border: none;
  outline: none;
}

svg#riso-palette {
  display: none;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  hyphens: auto;
  margin: 0 0 2rem 0;
}

a,
a:link {
  color: var(--c-blue);
}

a:visited {
  color: var(--c-indigo);
}

a:active {
  color: var(--c-fluorescent-pink);
}

p {
  margin: 0 0 2rem 0;
}

main {
  display: block;
  width: 100%;
  min-height: 100%;
  height: 100%;
}

springfile-modal {
  display: none;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.5);
}

springfile-modal textarea {
  position: fixed;
  top: 10vh;
  left: 10vw;
  width: 80vw;
  height: 80vh;
  padding: 1rem;
  background-color: var(--c-paper-bright);
  color: var(--c-black);
  z-index: 10000;
}

/*
Here's the scoop on the "leaky" CSS styles, re: Shadow DOM stuff;
https://lamplightdev.com/blog/2019/03/26/why-is-my-web-component-inheriting-styles/
*/

item-zone {
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100vw - var(--column-width));
  min-height: 100%;
  padding: 1rem;
}

item-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--column-width), 1fr));
  gap: 0;

  justify-items: center;
  align-items: center;

  /*
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  */
  /*
  flex-direction: row;
  flex-wrap: wrap;
  */
  width: 100%;
  min-height: 100%;
  height: auto;
  overflow-y: auto;
}

board-item {
  position: relative;
  width: var(--column-width);
  /*min-height: calc(var(--column-width) / 1.4142);*/
  height: calc(var(--column-width) / 0.7071); /* 1 / sqrt(2) */
}

board-item board-area {
  display: block;
  position: relative;
  /* in JS, apply top+left offsets in the range 1 .. var(--board-jitter)/2 */
  top: 0;
  left: 0;
  width: calc(100% - var(--board-jitter));
  height: calc(100% - var(--board-jitter));
  background-color: var(--c-paper-dingy);
}

/* This skinny little label goes across the top */
board-item board-area board-label {
  display: block;
  position: relative;
  top: 0;
  left: 2rem;
  width: 100%;
  height: 2rem;
  font-size: 1.25rem;
  color: var(--c-light-gray);
}

/* Remember, these all "beat" the Shadow DOM declarations */
board-item board-area board-content {
  contain: content;
  display: block;
  position: absolute;
  top: 2rem;
  left: var(--board-shadow-offset);
  width: calc(100% - var(--board-shadow-offset));
  /* -2rem for the board-label: */
  height: calc(100% - 2rem - var(--board-shadow-offset));
  border: none;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 100;
}

board-item board-area view-source {
  display: block;
  position: absolute;
  /* adding height of label to shadow offset */
  top: calc(2rem + var(--board-shadow-offset));
  left: 0;
  width: calc(100% - var(--board-shadow-offset));
  /* -2rem for the board-label: */
  height: calc(100% - 2rem - var(--board-shadow-offset));
  overflow-y: hidden;
  z-index: 10;
  cursor: pointer;
}

board-item view-source textarea {
  display: block;
  font-size: 1.25rem;
  line-height: 2rem;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: var(--c-light-gray);
  color: var(--c-paper-bright);
  border-radius: 0;
  resize: none;
  cursor: pointer;
  padding: 1rem;
}

feed-item {
  position: relative;
  min-width: var(--column-width);
}

feed-item feed-area {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  /* in JS, apply top+left offsets in the range 1 .. var(--board-jitter)/2 */
  top: 0;
  left: 0;
  width: calc(100% - var(--feed-jitter));
  height: auto;

  padding: 2rem;
}

feed-item feed-area h1 {
  font-size: 1.25rem;
  margin: 0 0 0 0;
  color: var(--c-light-gray);
  text-align: center;
}

feed-item feed-area h2 {
  font-size: 1.25rem;
  margin: 0 0 0.125rem 0;
  text-align: center;
}

feed-item feed-area p {
  font-size: 1.25rem;
  color: var(--c-red);
  text-align: center;
}

editor-zone {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 1rem;
  width: var(--column-width);
  height: 100vh;
  background-color: var(--c-hunter-green);
  color: var(--c-paper-dingy);
  padding: 1rem;
  overflow-y: auto;
}

editor-zone h1 {
  font-size: 2.0rem;
  line-height: 2rem;
  margin: 0 0 2rem 0;
  font-weight: normal;
  color: var(--c-black);
}

editor-zone p {
  margin: 0 0 0 0;
}

editor-zone drop-zone {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: var(--c-cornflower);
}

editor-zone drop-zone p {
  text-align: center;
  margin-bottom: 0.25rem;
  color: var(--c-black);
}

editor-zone drop-zone.drop-glow {
  border: 2px solid var(--c-yellow);
}

editor-zone drop-zone label {
  display: block;
  background-color: var(--c-blue);
  color: var(--c-black);
  cursor: pointer;
  height: 2rem;
  line-height: 2rem;
  padding: 0 0.5rem 0 0.5rem;
  user-select: none;
  margin: 0 0 0 0;
}

editor-zone drop-zone label:hover {
  color: var(--c-yellow);
}

editor-zone drop-zone input[type=file] {
  display: block;
  width: auto;
  color: var(--c-black);
}

editor-zone key-zone {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}

editor-zone key-display {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

editor-zone key-display p {
  text-align: left;
  height: 2rem;
}

editor-zone publish-button {
  position: relative;
  width: 100%;
  height: 6rem;
  line-height: 6rem;
  font-size: 2rem;
  background-color: var(--c-green);
  color: var(--c-paper-bright);
  cursor: pointer;
  text-align: center;
  padding: 0;
}

editor-zone publish-button:hover {
  background-color:  var(--c-flat-gold);
  color: var(--c-yellow);
}

editor-zone publish-button.byte-overflow {
  cursor: not-allowed;
  color: var(--c-light-gray);
  background-color: var(--c-midnight);
}

editor-zone publish-button.byte-overflow:hover {
  background-color: var(--c-midnight);
}

editor-zone action-row {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 1.25rem;
  line-height: 2rem;
  gap: 1rem;
  width: 100%;
  height: 2rem;
}

editor-zone action-row p {
  display: block;
  color: var(--c-paper-dingy);
  margin: 0 0 0 0;
}

editor-zone action-row action-link {
  display: block;
  background-color: var(--c-flat-gold);
  color: var(--c-black);
  cursor: pointer;
  height: 2rem;
  line-height: 2rem;
  padding: 0 0.5rem 0 0.5rem;
  user-select: none;
  margin: 0 0 0 0;
}

editor-zone action-row action-link.load-keypair {
  padding:  0 0 0 0;
}

editor-zone action-row action-link label {
  display: block;
  height: 2rem;
  padding: 0 0.25rem 0 0.25rem;
  background-color: var(--c-red);
  cursor: not-allowed;
}

editor-zone action-row .dangerous {
  background-color: var(--c-marine-red);
  cursor: not-allowed;
}

action-link:hover {
  color: var(--c-yellow);
}

editor-zone editor-meta {
  color: #abb2bf; /* following ace one-dark theme */
  width: 100%;
  font-size: 1.25rem;
  height: auto;
}

editor-zone byte-counter {
  width: 100%;
  height: 2rem;
  text-align: right;
}

editor-zone byte-counter.byte-overflow {
  color: var(--c-black);
}

editor-wrap {
  position: relative;
  width: 100%;
  min-height: 24rem;
  flex-grow: 100;
  flex-basis: 1;
  font-variant-ligatures: none;
}

pre.editor {
  display: block;
  position: relative;
  width: auto;
  min-height: 100%;
  line-height: 2rem;
}

@media only screen and (max-width: 560px) {
  item-zone {
    display: none;
  }

  editor-zone {
    width: 100%;
  }
}

/* ACE EDITOR THEME */

.ace-spring-client .ace_gutter {
  background: none;
  color: none;
}

.ace-spring-client .ace_print-margin {
  width: 1px;
  background: var(--c-paper-bright);
}

.ace-spring-client {
  background-color: var(--c-black);
  color: var(--c-paper-bright);
}

.ace-spring-client .ace_cursor {
  color: var(--c-fluorescent-pink);
}

.ace-spring-client .ace_marker-layer .ace_selection {
  background: var(--c-midnight);
}

.ace-spring-client.ace_multiselect .ace_selection.ace_start {

  box-shadow: 0 0 3px 0 #000;
  border-radius: 2px

}

.ace-spring-client .ace_marker-layer .ace_step {
  background: var(--c-teal);
}

.ace-spring-client .ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px;
  border: 1px solid var(--c-fluorescent-pink);
}

.ace-spring-client .ace_marker-layer .ace_active-line {
  background: rgba(255, 255, 255, 0.125);
}

.ace-spring-client .ace_gutter-active-line {
    /*
    background-color: rgba(76, 87, 103, .19)
    */
}

.ace-spring-client .ace_marker-layer .ace_selected-word {
  border: 1px solid var(--c-midnight);
}

.ace-spring-client .ace_fold {
  background-color: var(--c-cornflower);
  border-color: var(--c-light-gray);
}

.ace-spring-client .ace_keyword {
  color: var(--c-fluorescent-orange);
}

.ace-spring-client .ace_keyword.ace_operator {
  color: var(--c-fluorescent-orange);
}

.ace-spring-client .ace_keyword.ace_other.ace_unit {
  color: var(--c-fluorescent-pink);
}

.ace-spring-client .ace_constant.ace_language {
  color: var(--c-fluorescent-pink);
}

.ace-spring-client .ace_constant.ace_numeric {
  color: var(--c-fluorescent-pink);
}

.ace-spring-client .ace_constant.ace_character {
  color: var(--c-teal);
}

.ace-spring-client .ace_constant.ace_other {
  color: var(--c-teal);
}

.ace-spring-client .ace_support.ace_function {
  color: var(--c-cornflower);
}

.ace-spring-client .ace_support.ace_constant {
  color: var(--c-fluorescent-orange);
}

.ace-spring-client .ace_support.ace_class {
  color: var(--c-flat-gold);
}

.ace-spring-client .ace_support.ace_type {
  color: var(--c-flat-gold);
}

.ace-spring-client .ace_storage {
  color: var(--c-fluorescent-pink);
}

.ace-spring-client .ace_storage.ace_type {
  color: var(--c-fluorescent-pink);
}

.ace-spring-client .ace_invalid {
  color: var(--c-paper-bright);
  background-color: var(--red);
}

.ace-spring-client .ace_invalid.ace_deprecated {
  color: var(--c-black);
  background-color: var(--c-red);
}

.ace-spring-client .ace_string {
  color: var(--c-teal);
}

.ace-spring-client .ace_string.ace_regexp {
  color: var(--c-red);
}

.ace-spring-client .ace_comment {
  font-style: italic;
  color: var(--c-light-gray);
}

.ace-spring-client .ace_variable {
  color: var(--c-red);
}

.ace-spring-client .ace_variable.ace_parameter {
  color: var(--c-flat-gold);
}

.ace-spring-client .ace_meta.ace_tag {
  color: var(--c-red);
}

.ace-spring-client .ace_entity.ace_other.ace_attribute-name {
  color: var(--c-red);
}

.ace-spring-client .ace_entity.ace_name.ace_function {
  color: var(--c-cornflower);
}

.ace-spring-client .ace_entity.ace_name.ace_tag {
  color: var(--c-red);
}

.ace-spring-client .ace_markup.ace_heading {
  color: var(--c-green);
}

.ace-spring-client .ace_indent-guide {

}